APP_NAME=Noteori
APP_ENV=local
APP_KEY=base64:GENERATE_A_NEW_KEY_HERE
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=Asia/Ho_Chi_Minh

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=noteori
DB_USERNAME=noteori_user
DB_PASSWORD=noteori_secret

BROADCAST_CONNECTION=reverb
CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="noreply@noteori.com"
MAIL_FROM_NAME="Noteori"

REVERB_APP_ID=noteori
REVERB_APP_KEY=noteori-key
REVERB_APP_SECRET=noteori-secret
REVERB_HOST=reverb
REVERB_PORT=8080
REVERB_SCHEME=http

SANCTUM_STATEFUL_DOMAINS=localhost,localhost:5173,127.0.0.1
SESSION_DOMAIN=localhost

FILESYSTEM_DISK=public
